<header>
  <h1>Solucionador de Matriz</h1>
</header>

<div class="content">
  <h2>Selecione o tamanho da matriz</h2>

  <mat-form-field appearance="outline" style="margin-bottom: 10px;">
    <input matInput type="number" min="1" required [(ngModel)]="matrixSize">
  </mat-form-field>

  <button mat-button (click)="updateMatrixSize()"><span>Atualizar Matriz</span></button>
</div>

<mat-divider></mat-divider>

<div class="content">
  <h2>Sistema linear</h2>

  <main>
    <div *ngFor="let line of matrix; let i1 = index" class="systemLine">
      <div *ngFor="let element of line; let i2 = index; trackBy: trackByFn">
        <mat-form-field appearance="outline">
          <input matInput type="number" [(ngModel)]="matrix[i1][i2]" [name]="i1 + ' ' + i2">
        </mat-form-field>
        <span>x{{i2}}</span>
        <span style="font-size: 25px">{{i2 < line.length-1 ? ' +' : ' ' }}</span>
      </div>
      <span style="font-size: 25px"> = </span>
      <mat-form-field appearance="outline">
        <input matInput type="number" [(ngModel)]="constants[i1]" [name]="'result ' + i1 ">
      </mat-form-field>
    </div>
  </main>

  <button mat-button (click)="solve()" *ngIf="!checkForNullInMatrix()"><span>Resolver</span></button>
</div>

<mat-divider *ngIf="showResult || noSolution"></mat-divider>

<div class="content" *ngIf="showResult && !noSolution" style="margin-bottom: 20px;">
  <h2>Resultado</h2>
  <main class="results">
    <div *ngFor="let result of resultantConstants; let i = index">
      <span>x{{i}} = {{result | number : '1.0-2'}}</span>
    </div>
  </main>
</div>

<mat-divider *ngIf="showResult && !noSolution"></mat-divider>

<div *ngIf="showResult && !noSolution" class="steps-div">
  <h2 style="margin: 30px 0 20px 0;">Passo a Passo</h2>
  <main class="steps-results">
    <div *ngFor="let matrix of matrixHistory; let i = index" class="step-matrix">
      <div *ngFor="let line of matrix; let i1 = index" class="step-line">
        <div *ngFor="let element of line; let i2 = index">
          <span style="margin-right: 10px;">{{element | number : '1.0-2'}}</span>
        </div>
        <span style="margin-left: 10px;"> {{constantsHistory[i][i1] | number : '0.0-2'}} </span>
      </div>
      <mat-divider></mat-divider>
    </div>
  </main>
</div>

<div class="content" *ngIf="noSolution">
  <h2>Não há solução única</h2>
</div>